
.inputForm-design{
    border-radius: 50px;
    background-color: #E10202;
    color: rgba(255, 255, 255, 0.744);
    border : 0px solid #ced4da;
    padding: 1.4rem 1.25rem;
    display: block;
    width: 100%;
    height: calc(2.25rem + 25px);
    font-size: 1rem;
  }
  
  .inputForm-design::placeholder {
    color: rgb(255, 255, 255);
    font-weight: 300;
  }
  
  textarea{
    border-radius: 20px;
    background-color: #F1E8E8;
    border: 0.5px solid #ffffff;
  }
  
  .form-control:focus {
    outline     : 0;
    box-shadow  : 0 0 0 0.1rem rgb(0 0 0);
  }
  
  
  
  .form-check-input:checked {
    background-color: #ae0000;
    border-color    : #ae0000;
    cursor          : pointer;
  }
  
  .form-check-input {
  
    cursor: pointer;
  }
  

  
  /* get in touch for clicking   */
  
  /*========= getcode preloder  ==================*/
  
  /* =========================spinner ========================================= */
  
  .spinnerContact {
    background-color: rgba(53, 53, 53, 0.637);
    position        : fixed;
    top             : 0;
    margin          : 0;
    width           : 100%;
    height          : 100vh;
    display         : grid;
    place-content   : center;
    z-index         : 9999999;
  }
  
  circle {
    transform-origin: center;
    transform-box   : fill-box;
    transform-origin: center;
    animation       : rotate linear 0.5s infinite;
  }
  
  circle:nth-child(1) {
    animation-duration: 1.6s;
  }
  
  circle:nth-child(2) {
    animation-duration: 1.2s;
  }
  
  circle:nth-child(3) {
    animation-duration: 0.8s;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spinnerContact svg {
    width : 100px;
    height: 100px;
  }
  
  /* ======================================================================================= */
  
  
  .btn {
    transition-property       : all;
    transition-duration       : 0.2s;
    transition-timing-function: linear;
    transition-delay          : 0s;
    padding                   : 10px 20px;
    display                   : inline-block;
    margin-right              : 10px;
    background-color          : #fff;
    border                    : 1px solid #2c2c2c;
    border-radius             : 3px;
    cursor                    : pointer;
    outline                   : none;
  }
  
  .btn:last-child {
    margin-right: 0;
  }
  

  
  .header {
    max-width : 500px;
    margin    : 50px auto;
    text-align: center;
  }
  
  .header__title {
    margin-bottom: 30px;
  }
  
  .content {
    max-width: 700px;
    width    : 95%;
    margin   : 0 auto 40px;
  }
  
  .title {
    margin-bottom: 40px;
    font-size    : 20px;
    text-align   : center;
  }
  
  .submit-buttons {
    display        : flex;
    justify-content: flex-start;
    flex-wrap      : wrap;
  }
  
  .buttonsBlock {
    margin-bottom: 40px;
  }
  
  .buttonsTitle {
    margin-bottom: 20px;
    text-align   : center;
  }
  
  .submit-button {
    position       : relative;
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 200px;
    height         : 54px;
    font-size      : 14px;
    font-weight    : 700;
    color          : #fff;
    letter-spacing : 1.44px;
    box-shadow     : 0px 16px 35px 0 rgba(0, 0, 0, 0.25);
    outline        : none;
    border         : none;
    overflow       : hidden;
    cursor         : pointer;
    border-radius  : 31px;
    /* border  : 1px solid white; */
  }
  
  .submit-button__pending,
  .submit-button__loaded {
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-image: inherit;
    opacity         : 0;
    visibility      : hidden;
  }
  
  
  
  .submit-button--1 {
    background-image: linear-gradient(to right bottom, #ae0000 1%, #ff0000);
    transition: 0.7s ease-in;
    -webkit-transition: 0.7s ease-in;
    -moz-transition: 0.7s ease-in;
    -ms-transition: 0.7s ease-in;
    -o-transition: 0.7s ease-in;
  }
  
  /* .submit-button--1:hover {
    background-image: linear-gradient(to right bottom, #ffffff 1%, #ffffff);
    color: #ae0000;
  } */
  
  @keyframes pending-circle {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .submit-button__pending--1 {
    display: block;
  }
  
  .submit-button__pending--1:before {
    position       : absolute;
    top            : 0;
    left           : 0;
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    height         : 100%;
    font-family    : "Font Awesome 5 Free";
    font-size      : 1.6rem;
    content        : '\f110';
  }
  
  .submit-button__pending--1:after {
    position        : absolute;
    left            : 0;
    bottom          : 0;
    display         : block;
    width           : 100%;
    height          : 4px;
    content         : '';
    transform       : scaleX(0);
    transform-origin: left center;
    background-image: linear-gradient(to right bottom, #ffff1c 1%, #00c3ff);
    background-size : 100%;
  }
  
  .submit-button__pending--1.js-active {
    transition-property       : all;
    transition-duration       : 0.1s;
    transition-timing-function: linear;
    transition-delay          : 0.3s;
    opacity                   : 1;
    visibility                : visible;
  }
  
  .submit-button__pending--1.js-active:before {
    animation: pending-circle 1s infinite;
  }
  
  .submit-button__pending--1.js-active:after {
    transition-property       : all;
    transition-duration       : 1.7s;
    transition-timing-function: cubic-bezier(0, 0, 0.97, 0.13);
    transition-delay          : 0.1s;
    transform                 : scaleX(1);
  }
  
  .submit-button__text--1.js-active {
    transition-property       : all;
    transition-duration       : 0.3s;
    transition-timing-function: linear;
    transition-delay          : 0s;
    opacity                   : 0;
    visibility                : hidden;
  }
  
  .submit-button__loaded--1 {
    display        : flex;
    align-items    : center;
    justify-content: center;
  }
  
  .submit-button__loaded--1:after {
    margin-right: 10px;
    font-family : "Font Awesome 5 Free";
    font-size   : 1.4rem;
    content     : '\f00c';
    transform   : translate(10px, -2px);
  }
  
  .submit-button__loaded--1 span {
    transform: translateX(10px);
  }
  
  .submit-button__loaded--1.js-active {
    transition: opacity .1s linear 2.1s;
    opacity   : 1;
    visibility: visible;
  }
  
  .submit-button__loaded--1.js-active:before {
    transition-property       : all;
    transition-duration       : 0.2s;
    transition-timing-function: linear;
    transition-delay          : 2.15s;
    transform                 : translate(0, -2px);
  }
  
  .submit-button__loaded--1.js-active span {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 2.15s;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  
  
  /* =========================================================================== */
  
  /* button hover to show  */

  
  
  
  
  
  /* get in touch new section start */
  
  .getInTouch{
    background-color: #F1F1F1;
    border-radius: 33px;
  }
  
  .getInTouch_heading h1{
    color: #99222c;
    font-size: 2rem;
    font-weight: 700;
  }
  .getInTouch_heading h2{
    color: #21214D;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 25px 0;
  }
  
  .getInTouch_heading p {
    color: #000000;
    font-size: 1rem;
    line-height: 1.6;
  }
  
  /* get in touch new section end */
  
  
  
  .bottom_line_touch::after{
    content: "";
    display: block;
    height: 3px;
    background-color: #ae0000;
    width: 32%;
    position: absolute;
    border-radius: 10px;
    bottom: -6px;
  }
  
  .bottom_line_touch span{
    color: #000000;
  }