
#businessHelp .help_business h1 {
    line-height: 2.5rem;
    font-size: 2rem;
    font-weight: 700;
  }
  
  .bottom_line_center_businessHelp:after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ae0000;
    position: absolute;
    left: 50%;
    bottom: -6px;
    transform: translate(-50%, -50%);
  }
  
  .bottom_line_center_businessHelp span {
    color: #ae0000;
  }
  .business_col-main p {
    color: #1a1a1a;
    margin-top: 0.5rem;
    font-weight: 700;
    margin-left: 1rem;
    font-size: 1rem;
  }
  
  /* animantion desgin start  */
  
  .hovicon {
    display: inline-block;
    cursor: pointer;
    margin: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
  }
  
  .hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: "";
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .hovicon:before {
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
  }


  
/* Effect 8 */
.hovicon.effect-8 {
    /* background: rgba(250, 18, 18, 0.1); */
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
  }
  .hovicon.effect-8:after {
    top: 9px;
    left: 9px;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  .hovicon.effect-8:hover {
    background: rgba(255, 255, 255, 0.05);
    -webkit-transform: scale(0.83);
    -moz-transform: scale(0.83);
    -ms-transform: scale(0.83);
    transform: scale(0.83);
    color: #fff;
  }
  .hovicon.effect-8:hover i {
    color: #fff;
  }
  .hovicon.effect-8:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
  }
  @-webkit-keyframes sonarEffect {
    0% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.5;
      box-shadow: 0 0 0 2px rgba(255, 28, 28, 0.1), 0 0 10px 10px #d13535,
        0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #d13535,
        0 0 0 10px rgba(255, 255, 255, 0.5);
      -webkit-transform: scale(1.5);
      opacity: 0;
    }
  }
  @-moz-keyframes sonarEffect {
    0% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.5;
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #d13535,
        0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #d13535,
        0 0 0 10px rgba(255, 255, 255, 0.5);
      -moz-transform: scale(1.5);
      opacity: 0;
    }
  }
  @keyframes sonarEffect {
    0% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.5;
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #d13535,
        0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #d13535,
        0 0 0 10px rgba(255, 255, 255, 0.5);
      transform: scale(1.5);
      opacity: 0;
    }
  }
  