.quote_btn {
  position: relative;
  letter-spacing: 2px;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: 0.5s;
  border: 2px solid #ae0000;
  border-radius: 30px;
  overflow: hidden;
  padding: 10px 24px !important;
  font-size: 1rem !important;
  width: 70%;
  margin: 16px;
}

.quote_btn:hover {
  background: #ffffff url(https://i.postimg.cc/wBXGXbWN/pixel.png);
  color: white !important;
  transition-delay: 0.1s;
  -webkit-animation: animate 0.5s steps(8) forwards;
  animation: animate 0.1s steps(8) forwards;
}

@-webkit-keyframes animate {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: -480px;
  }
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: -480px;
  }
}

.quote_btn:after {
  content: "";
  top: 0;
  transform: translateX(100%);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  animation: slide 2s infinite;
  background: linear-gradient(
    to right,
    rgba(64, 235, 241, 0) 0%,
    rgb(226 136 136 / 80%) 50%,
    rgba(64, 235, 241, 0) 99%,
    rgba(64, 235, 241, 0) 100%
  );
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}


.CompanyDropdown{
    position: absolute;
    background-color: #ffffff;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
    margin-top: 1rem;
  }

  .CompanyDropdown ul li{
   background-color: aliceblue;
  }


  .ServiceDropdown{
    position: absolute;
    background-color: #ffffff;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 1rem;
    padding: 1.5rem;
  }