.androidgamebg{
    background-image: url(/images/servies/pagesImage/Android-Game-Development.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}