.uiuxbg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: transparent linear-gradient(143deg, #56ab2f 0%, #2474dd 100%) 0%
    0% no-repeat padding-box;
}
