.img {
  width: 100%;
  height: 90vh;
}
.web_image {
  position: relative;
  line-height: 1.3;
}

.web_text {
  position: absolute;
  bottom: 10%;
  left: 5%;
}
.web_text h1 {
  color: #ffff;
  font-weight: 700;
  font-size: 4rem;
}
