.arvrBg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: transparent linear-gradient(143deg, #FF8235 0%, #2474DD 100%) 0% 0% no-repeat padding-box;
}